.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: [line1] 100px [line2] 100px [line3] 0.1fr [line4] 0.9fr [end];
  grid-template-rows: [row-1-start] 15% [row-2-start] 100px [row-3-start] auto [row-end];
}

.grid-item div {
  display: flex;
  color: #fff;
  /*font-size: 2em;*/
  justify-content: center;
  align-items: center;
  height: 100%;
}

.item-track {
  background-color: #8BC574;
  grid-column: line1 / end;

}

.item-cell {
  background-color: #748CC5;
  grid-column: line1 / line3;
  grid-row: row-2-start / row-end;
}

.item-area {
  background-color: #C57474;
  grid-column: line3 /end;
  grid-row: row-2-start / row-end;

}